doctype html
html
    body

        table
            tr
                td Firstname
                td Lastname
                td email
                td age
            each user in users
                tr
                    td #{user.Firstname}
                    td #{user.Lastname}
                    td #{user.email}
                    td #{user.age}
                    td
                        a(href='/edit/'+user.email) edit
                    td
                        a(href='/delete/'+user.email) delete


